
<nav mat-tab-nav-bar class="center">
    <a mat-tab-link class="mat-ripple"
        routerLink="/componenta" routerLinkActive #rla="routerLinkActive"  [active]="true"
       >
      AAA
    </a>
    <a mat-tab-link class="mat-ripple"
    routerLink="/componentb" routerLinkActive #rla="routerLinkActive"
    >
      BBB
    </a>
   
<a mat-tab-link  class="mat-ripple"
routerLink="/componentBuissness" routerLinkActive #rla="routerLinkActive">
componentBuissness
</a>
<a mat-tab-link  class="mat-ripple"
routerLink="/componentc" routerLinkActive #rla="routerLinkActive">
CCC
</a>
<a mat-tab-link  class="mat-ripple"
routerLink="/componentBuissness" routerLinkActive #rla="routerLinkActive">
componentBuissness
</a>
  </nav>
  <router-outlet></router-outlet>
 
